@charset "UTF-8";

/*leoUi*/
.leoUi_clearfix:before, .leoUi_clearfix:after {content:"";display:table;}
.leoUi_clearfix:after{clear:both;}
.leoUi_helper_reset{border-width: 0;font-size: 100%;line-height: 1.3;list-style: none outside none;margin: 0;outline: 0 none;padding: 0;text-decoration: none;}

/*leoTree*/
.leoTree{width:360px;}
.leoTree_child{margin-left: 14px}
.leoTree_state_default, .leoTree_state_default a{ color: inherit; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
.leoTree_icon{width:16px;height: 16px;text-indent:-9999px;}
.leoTree_icon_triangle{background-image: url("../img/leoUi-icons_38667f_256x240.png");cursor: pointer;}
.leoTree_inner_open .leoTree_icon_triangle{background-position: -48px -16px;}
.leoTree_inner_close .leoTree_icon_triangle{background-position: -32px -16px;}
.leoTree_icon_folder{background-image: url("../img/leoUi-icons_38667f_256x240.png");}
.leoTree_inner_open .leoTree_icon_folder{background-position: -16px -96px;}
.leoTree_inner_close .leoTree_icon_folder{background-position: 0 -96px;}
.leoTree_icon_document{background-image: url("../img/leoUi-icons_38667f_256x240.png");background-position: -32px -96px;}
.leoTree_list{float: left;padding: 0.5em;width: 100%;}
.leoTree_list .leoTree_node{background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: 0 none;clear: both;display: block;float: left;font-weight: normal;margin: 0 20px 0 0;line-height: 16px}
.leoTree_list .leoTree_item{clear: left;display: inline;float: left;margin: 0 0 0 16px;padding: 0;width: 100%;}
.leoTree_parent{clear: left;float: left;margin: 0;padding: 0;width: 100%;}
.leoTree_parent span, .leoTree_item span{float:left;}
.leoTree_inner{border: 1px solid transparent;display: block;padding: 3px;vertical-align: middle; border-radius: 3px;margin:2px 0;}
.leoTree_inner a{color: inherit;display: block;float: left;margin: 0 0.5em;outline: medium none;text-decoration: none;cursor: pointer;}
.leoTree_active{background-color:rgb(131, 176, 202);background: linear-gradient(to bottom, rgba(131, 176, 202, 1) 0%, rgba(185, 224, 245, 1) 100%) repeat scroll 0 0;border: 1px solid #7096ab;color: #1c4257;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;}
.leoTree_inner_hover{background: url("../img/leoUi-bg_highlight-soft_100_83b0ca_1x100.png") repeat-x scroll center top #83b0ca;border: 1px solid #8ab0c6;box-shadow: 0 0 3px #85b2cb;color: #313131;font-weight: bold; font-weight: 400;}
.leoTree_arrow{border-width: 0px;background: none repeat scroll 0 0 transparent;box-shadow: none;padding: 0;margin:0;text-shadow: none;position:absolute;}
.leoTree_arrow img{position: absolute; display: block; height: 30px; margin-top: -12px;right: 4px}
.leoTree_loading{background: url("../img/indicator.gif") no-repeat scroll 8px center #fff;border: 2px solid #aaa;display: none;font-size: 14px;font-weight: bold;left: 45%;padding: 6px 20px 6px 30px;position: absolute;text-align: center;top: 45%;width: auto;z-index: 101;}