@charset "UTF-8";
/*Common CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,textarea{margin:0; padding:0;}
body{font-size:13px;font-family:  "Microsoft YaHei"; }
html,body{height:100%;}
ul,ol,dl{list-style:none;}
img{border:0;}
a{text-decoration:none;outline: none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
.none{display:none;}
.clear{clear:both;}
.left{float:left;}
.right{float:right;}
.padding-none{padding:0 !Important;}
.margin-none{margin:0 !Important;}
.border-none{border-width:0 !Important;}
label.error{display:inline-block;margin:0 5px;padding:0 0 0 20px;background: url(../Images/error.png) no-repeat 0px center;color: red;}
input.error{border: dashed 1px red;}
label.valid{display:inline-block;margin:0 5px;width:16px;height:16px;background: url(../Images/valid.png) no-repeat 0px center;}
label.normal{display:none;}
label.focus{display:inline-block;margin:0 5px;color:#999999;}
.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{ *zoom:1;}/*ie6,7*/

body{height: 1000px;width: 2000px;}
.botton{background-color:#F6F6F6;height:30px;width:100px;line-height:30px;text-align:center;border:1px solid #cccccc;color:#C77405;font-weight:bold;border-radius:4px;cursor:pointer}
.btn { display: inline-block; padding: .5em 1em; border: 0 none; border: 1px solid rgba(0,0,0,.25); border-radius: 0.3em; background-image: none; box-shadow: 0 1px rgba(0,0,0,.15), inset 0 1px rgba(255,255,255,.15); color: #fff; text-align: center; text-decoration: none; text-shadow: 1px 1px rgba(0,0,0,.1); font-size: 100%; font-family: inherit; font-weight: inherit; white-space: nowrap; -webkit-user-select: none; -moz-user-select: none; user-select: none; overflow: visible; cursor: pointer; }
.btn:hover, .btn:focus { text-decoration: none; background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.1)); }
.btn:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.btn:active { box-shadow: 0 1px rgba(0,0,0,.2), inset 0 1px rgba(0,0,0,.05); outline: none; }
.btn_navy { background-color: #001f3f; }
.btn_blue { background-color: #0074d9; }
.btn_aqua { background-color: #7fdbff; }
.btn_teal { background-color: #39cccc; }
.btn_olive { background-color: #3d9970; }
.btn_green { background-color: #2ecc40; }
.btn_lime { background-color: #01ff70; }
.btn_yellow { background-color: #ffdc00; }
.btn_orange { background-color: #ff851b; }
.btn_red { background-color: #ff4136; }
.btn_fuchsia { background-color: #f012be; }
.btn_purple { background-color: #b10dc9; }
.btn_maroon { background-color: #85144b; }
.btn_white { background-color: #ffffff; }
.btn_gray { background-color: #aaaaaa; }
.btn_silver { background-color: #dddddd; }
.btn_black { background-color: #111111; }

/*leoUi*/
.leoUi_clearfix:before, .leoUi_clearfix:after {content:"";display:table;}
.leoUi_clearfix:after{clear:both;}
.leoUi_helper_reset{border-width: 0;font-size: 100%;line-height: 1.3;list-style: none outside none;margin: 0;outline: 0 none;padding: 0;text-decoration: none;}

/*leoDialog*/
.leoDialog{padding:0;border-radius: 3px;overflow: hidden;position:absolute;border: 1px solid #A8A8A8;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);background-color: #ffffff;color: #4F4F4F;font-family: Arial,sans-serif;font-size: 100%;}
.leoDialog_inherit .leoDialog_titlebar{cursor: inherit !important}
.leoDialog_titlebar{border-left: medium none;border-radius: 0;border-right: medium none;border-top: medium none;background: url("../img/leoUi-bg_highlight-soft_100_c0c0c0_1x100.png") repeat-x scroll center top #C0C0C0;position:relative;overflow: hidden;cursor: move;padding: 0.5em 1em 0.3em;text-align: right;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);border-bottom: 1px solid #A8A8A8;z-index:0;}
.leoDialog_title{color: #333333;font-weight: bold;float: left;width: auto; margin: 0.1em 16px 0.2em 0;font-size: 18px}
.leoDialog_titlebar_button{display: inline-block;height: 18px;outline: medium none;padding: 1px;text-align: left;width: 19px;border-radius: 3px;text-decoration: none;color: #4F4F4F;}
.leoDialog_titlebar_button:hover{background: url("../img/leoUi-bg_highlight-soft_100_83b0ca_1x100.png") repeat-x scroll center top #83B0CA;box-shadow: 0 0 3px #85B2CB;border: 1px solid #8AB0C6;padding:0;}
.leoDialog_titlebar_button:hover span{background-image: url("../img/leoUi-icons_38667f_256x240.png");}
.leoDialog_titlebar_button_span{margin: 1px;background-image: url("../img/leoUi-icons_898989_256x240.png");text-indent: -9999px;height: 16px;width: 16px;background-repeat: no-repeat;border-radius: 10px;display: block;overflow: hidden;margin: 1px;}
.leoDialog_close_span{background-position: -80px -128px; }
.leoDialog_maximize_span{background-position: -32px -80px; }
.leoDialog_minimize_span{background-position: -48px -128px; }
.leoDialog_toggle_span_show{background-position: 0 0; }
.leoDialog_toggle_span_hide{background-position:  -64px 0; }
.leoDialog_pin_span_on{background-position: -128px -144px; }
.leoDialog_pin_span_off{background-position: -144px -144px; }
.leoDialog_restore_span{background-position: -48px -80px; }
.leoDialog_refresh_span{background-position: -64px -80px; }
.leoDialog_content{overflow: auto;display: block;border: 0 none;padding: 0.5em 1em;position: relative;margin:0 3px 3px 3px;z-index: 0;}
.leoDialog_content_iframe{overflow: hidden;padding:0;}

/*leoDialog content*/
.leoDialog_content .icon{vertical-align: middle;background: url("../img/ico_warn.png") no-repeat scroll -50px -204px;display: inline-block;height: 25px;width: 25px;}
#delete_image{background-color: #ffffff;border-radius: 3px;height: 100%}
#delete_image .send_content{background-color: #ffffff;position: relative;padding: 28px 50px 30px;width: auto;height: auto}
#delete_image .send_content .text{text-align: left;cursor: default;color: #222222;}
#delete_image .send_content .text .title{vertical-align: middle;padding-left: 10px;color: #415b80;font-weight: 700}
#delete_image .send_bottom{margin:20px 0 0 0;position: relative;height: 30px }
#delete_image .send_submit{position: absolute;left: 76px;top:0;background-color: #87BEDC;height: 26px;width: 62px;line-height: 26px;border: none;cursor: pointer;color: #fff;}
#delete_image .send_off{position: absolute;left: 154px;top:0;height: 26px;width: 62px;line-height: 26px;border: none;cursor: pointer;background-color: #e1e1e1;color: #555555;}

/*leoSelectable*/
.ui_state_default{background: #e6e6e6;border: 1px solid #d3d3d3;color: #555555;font-weight: normal;}
.leoUi_selecting{background: none repeat scroll 0 0 #feca40;}
.leoUi_selected{background: none repeat scroll 0 0 #f39814;color: white;}
.leoUi_selectable_helper {position: absolute;z-index: 100;border: 1px dotted black;}

/*leoTooltip*/
.leoTooltip{position: absolute;z-index: 99999;margin: 0;background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);background: none repeat scroll 0 0 rgb(0, 0, 0)\9;box-shadow: 0 0 8px #85b2cb;color: #fff;border-radius: 3px;}
.leoTooltip_close{ background: none repeat scroll 0 0 transparent;border: medium none;display: block;height: 16px;position: absolute;right: 3px;top: 3px;width: 16px;cursor: pointer;}
.leoTooltip_content{overflow: hidden;padding: 1em;margin:0;padding:1em;white-space:nowrap;  }
.leoTooltip_titlebar{background: none repeat scroll 0 0 transparent;border: medium none;color: inherit;padding: 0.4em;}
.leoTooltip_arrow{position: absolute; width:0;height: 0;font-size: 0;line-height: 0;border-width:0;background: none repeat scroll 0 0 rgba(0, 0, 0, 0);}
.leoTooltip_arrow_right{top:50%;left:-10px;border-bottom: 8px solid transparent;border-top: 8px solid transparent;border-right: 10px solid #000;margin-top: -8px;}
.leoTooltip_arrow_left{top:50%;right:-10px;border-bottom: 8px solid transparent;border-top: 8px solid transparent;border-left: 10px solid #000;margin-top: -8px;}
.leoTooltip_arrow_top{left:50%;bottom:-10px;border-left: 8px solid transparent;border-right: 8px solid transparent;border-top: 10px solid #000;margin-left: -8px;}
.leoTooltip_arrow_bottom{left:50%;top:-10px;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 10px solid #000;margin-left: -8px;}

/*leoTree*/
.leoTree{width:360px;}
.leoTree_child{margin-left: 32px}
.leoTree_state_default, .leoTree_state_default a{ color: inherit; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); }
.leoTree_icon{width:16px;height: 16px;text-indent:-9999px;}
.leoTree_icon_triangle{background-image: url("../img/leoUi-icons_38667f_256x240.png");cursor: pointer;}
.leoTree_inner_open .leoTree_icon_triangle{background-position: -48px -16px;}
.leoTree_inner_close .leoTree_icon_triangle{background-position: -32px -16px;}
.leoTree_icon_folder{background-image: url("../img/leoUi-icons_38667f_256x240.png");}
.leoTree_inner_open .leoTree_icon_folder{background-position: -16px -96px;}
.leoTree_inner_close .leoTree_icon_folder{background-position: 0 -96px;}
.leoTree_icon_document{background-image: url("../img/leoUi-icons_38667f_256x240.png");background-position: -32px -96px;}
.leoTree_list{float: left;padding: 0.5em;width: 100%;}
.leoTree_list .leoTree_node{background: none repeat scroll 0 0 rgba(0, 0, 0, 0);border: 0 none;clear: both;display: block;float: left;font-weight: normal;margin: 0 20px 0 0;line-height: 16px}
.leoTree_list .leoTree_item{clear: left;display: inline;float: left;margin: 0 0 0 16px;padding: 0;width: 100%;}
.leoTree_parent{clear: left;float: left;margin: 0;padding: 0;width: 100%;}
.leoTree_parent span, .leoTree_item span{float:left;}
.leoTree_inner{border: 1px solid transparent;display: block;padding: 3px;vertical-align: middle; border-radius: 3px;margin:2px 0;}
.leoTree_inner a{color: inherit;display: block;float: left;margin: 0 0.5em;outline: medium none;text-decoration: none;cursor: pointer;}
.leoTree_active{background-color:rgb(131, 176, 202);background: linear-gradient(to bottom, rgba(131, 176, 202, 1) 0%, rgba(185, 224, 245, 1) 100%) repeat scroll 0 0;border: 1px solid #7096ab;color: #1c4257;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;}
.leoTree_inner_hover{background: url("../img/leoUi-bg_highlight-soft_100_83b0ca_1x100.png") repeat-x scroll center top #83b0ca;border: 1px solid #8ab0c6;box-shadow: 0 0 3px #85b2cb;color: #313131;font-weight: bold; font-weight: 400;}
.leoTree_arrow{border-width: 0px;background: none repeat scroll 0 0 transparent;box-shadow: none;padding: 0;margin:0;text-shadow: none;position:absolute;}
.leoTree_arrow img{position: absolute; display: block; height: 30px; margin-top: -12px;right: 4px}


/*创建需求*/
#create_demand{background-color: #ffffff;border-radius: 3px;}
#create_demand .send_head {background-color: #E1E1E1;position:relative;overflow: hidden;border-radius: 3px 3px 0 0}
#create_demand .send_head p{font-size: 13px;padding:10px;font-weight: bold;color:#0b0b0b;}
#create_demand .send_close{background: url("../img/icon.png") no-repeat scroll -75px -200px ;display: block;height: 16px;position: absolute;right: 17px;top: 10px;width: 16px;}
#create_demand .send_close:hover{background: url("../img/icon.png") no-repeat scroll -100px -200px !important}
#create_demand .send_content{background-color: #ffffff;position: relative;border-radius: 0 0 3px 3px }
#create_demand .send_content .tit{width:78px;float: left;margin-top: 3px;}
#create_demand .send_content .tit span{margin-left: 10px}
#create_demand .send_content .points{height: 18px;width:76px;vertical-align: -5px}
#create_demand .send_name{margin-top: 15px;width: 444px;}
#create_demand .send_name input{width: 158px;height: 16px;line-height:16px;padding:4px;color:#a0a0a0;outline: none;border: 1px solid #e3e3e3;border-radius: 2px;}
#create_demand .send_text{margin-top: 15px;border-radius: 2px;position: relative;width: 444px;}
#create_demand .send_text textarea{width:344px;height: 66px;border: 1px solid #e3e3e3;resize:none;padding: 4px;outline: none;border-radius: 2px;}
#create_demand .intro_num{position: absolute;right: 14px;top:-20px;color:#cacaca;}
#create_demand .intro_num i{color: #EF0000;font-style: normal;}
#create_demand .create_avatar_input{position: relative;margin-top: 15px;height: 30px;}
#create_demand .create_avatar_input .create_avatar_input_btn{position: absolute;display: inline-block;overflow: hidden;left: 78px;top:1px;*top:2px;}
#create_demand .create_avatar_input .create_avatar_input_button{width: 76px;height: 30px;line-height: 30px;text-align: center;border: none;background-color: #00AEEF;color: #fff}
#create_demand .create_avatar_input .create_avatar_input_file{display: block;position: absolute;top: 0;left: 0;width: 160px;height: 30px;font-size:17px;opacity: 0;filter:alpha(opacity=0);cursor: pointer;margin-left: -84px}
#create_demand .send_bottom{margin:8px 0 20px 0;position: relative;height: 30px }
#create_demand .send_submit{position: absolute;left: 168px;top:0;background-color: #FEC617;height: 30px;width: 76px;line-height: 30px;border: none;cursor: pointer;color: #fff;}

/*滑动*/
.layer_btn{margin-top: 15px;text-align: right;}


/*提示框*/
.tip_leo {border:1px solid #ccc\9;}
.tip_leo .close{font-family: inherit;position:absolute;top:-3px;right:-3px;width:21px;background:transparent;border: 0 none;cursor: pointer;padding: 0;color: #000000;font-size: 21px;font-weight: bold;line-height: 1; opacity: 0.2;text-shadow: 0 1px 0 #FFFFFF;}
.tip_leo .close:hover, .tip_leo .close:focus{ color: #000000;cursor: pointer;opacity: 0.5;text-decoration: none;}

/*日历*/
.Calendar_leo{border:1px solid #C0C0C0;padding:6px;border-radius:3px;background-color: #fff;}
.Calendar_leo .Calendar_top{cursor: default;}
.Calendar_leo .Calendar_top .btn{width: 22px;height: 22px;border:1px solid silver;cursor: pointer;border-radius:2px;}
.Calendar_leo .Calendar_content thead td{cursor: default;}
.Calendar_leo .Calendar_content tbody td{cursor: pointer;}
.Calendar_leo .Calendar_bottom{margin-top: 5px}
.Calendar_leo .Calendar_bottom span{border:1px solid silver;cursor: pointer;border-radius:2px;padding:2px 10px;}

.form{width: 500px;position: relative;margin:50px auto;}
.c{margin-top: 5px;}
input{float: left}
label{float:left;min-width: 65px;text-align: right;}

.a{width: 300px;height: 300px;position: absolute;top:50px;left:50px;background-color: #fff;border: 3px solid rgb(153,153,153) }
.a .title{height: 100px;background-color: #E1E1E1;}
.a .content{text-align: center;}
.a i{cursor:pointer;}



@-moz-keyframes loading {
100% {
    transform: rotate(360deg);
}
}
.loading {
    animation: 1s steps(8, end) 0s normal none infinite loading;
    border-radius: 50%;
    box-shadow: 0 -10px 0 0 #000000, 10px 0 0 #C0C0C0, 0 10px 0 0 #808080, -10px 0 0 #404040, -7px -7px 0 0 #202020, 7px -7px 0 #C0C0C0, 7px 7px 0 0 #A0A0A0, -7px 7px 0 #606060;
    height: 5px;
    margin: 30px auto;
    width: 5px;
}
.loading2 {
    animation: 1s steps(8, end) 0s normal none infinite loading;
    border-radius: 50%;
    box-shadow: 0 -10px 0 3px #000000, 10px 0 0 0.4px #C0C0C0, 0 10px 0 1px #808080, -10px 0 0 1.8px #404040, -7px -7px 0 2.2px #202020, 7px -7px 0 #C0C0C0, 7px 7px 0 0.8px #A0A0A0, -7px 7px 0 1.5px #606060;
    height: 2px;
    margin: 30px auto;
    width: 2px;
}
.loading3 {
    animation: 1s steps(8, end) 0s normal none infinite loading;
    border: 3px solid #000000;
    border-radius: 50%;
    height: 20px;
    margin: 30px auto;
    white-space: nowrap;
    width: 20px;
}
.loading3:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFFFFF #FFFFFF #000000;
    border-image: none;
    border-radius: 0 2px 0 0;
    border-right: 5px solid #FFFFFF;
    border-style: solid;
    border-width: 2px 5px 5px;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: -6px;
    vertical-align: text-top;
    width: 0;
}
.loading3:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000000 #FFFFFF #FFFFFF;
    border-image: none;
    border-radius: 0 0 0 2px;
    border-right: 5px solid #FFFFFF;
    border-style: solid;
    border-width: 5px 5px 2px;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: 12px;
    vertical-align: bottom;
    width: 0;
}

.leoUi-widget-content {
    color: #555;
    border: 0 none;
    border-color: #ddd;
    background: #fff 50% 50% repeat-x
}
.leoUi-widget {
    font-size: 12px;
    font-family: tahoma, arial, 宋体
}
.leoUi-corner-all {
    border-radius: 0
}
.leoUi-state-default {
    background: #f5f5f5;
    border: 1px solid #d6dee3;
    color: #555
}
.leoUi-jqgrid {
    color: #555;
    border: 1px solid;
    border-color: #d6dee3;
    position: relative
}
.leoUi-jqgrid-btable .red {
    color: #F00
}
.leoUi-jqgrid a {
    color: #555;
    text-decoration: underline
}
.leoUi-jqgrid a:hover {
    color: #000;
    text-decoration: underline
}
.leoUi-jqgrid .leoUi-jqgrid-view {
    position: relative;
    left: 0;
    top: 0;
    padding: 0;
    font-size: 12px
}
.leoUi-jqgrid .leoUi-jqgrid-titlebar {
    padding: .3em .2em .2em .3em;
    position: relative;
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none
}
.leoUi-jqgrid .leoUi-jqgrid-title {
    float: left;
    margin: .1em 0 .2em
}
.leoUi-jqgrid .leoUi-jqgrid-titlebar-close {
    position: absolute;
    top: 50%;
    width: 19px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 18px
}
.leoUi-jqgrid .leoUi-jqgrid-titlebar-close span {
    display: block;
    margin: 1px
}
.leoUi-jqgrid .leoUi-jqgrid-titlebar-close:hover {
    padding: 0
}
.leoUi-jqgrid .leoUi-jqgrid-hdiv {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    border-left: 0 none;
    border-top: 0 none;
    border-right: 0 none
}
.leoUi-jqgrid .leoUi-jqgrid-hbox {
    float: left;
    padding-right: 20px
}
.leoUi-jqgrid .leoUi-jqgrid-htable {
    table-layout: fixed;
    margin: 0
}
.leoUi-jqgrid .leoUi-jqgrid-htable th {
    height: 36px;
    padding: 0 2px 0 2px
}
.leoUi-jqgrid .leoUi-jqgrid-htable th div {
    overflow: hidden;
    position: relative;
    height: 20px
}
.leoUi-jqgrid .leoUi-jqgrid-htable th div small {
    font-weight: normal;
    border-bottom: 1px dotted #888;
    cursor: pointer
}
.leoUi-th-column, .leoUi-jqgrid .leoUi-jqgrid-htable th.leoUi-th-column {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    border-top: 0 none;
    border-bottom: 0 none;
    font-weight: bold
}
.leoUi-jqgrid .leoUi-jqgrid-htable .leoUi-th-column-header {
    font-weight: bold
}
.leoUi-th-ltr, .leoUi-jqgrid .leoUi-jqgrid-htable th.leoUi-th-ltr {
    border-left: 0 none
}
.leoUi-th-rtl, .leoUi-jqgrid .leoUi-jqgrid-htable th.leoUi-th-rtl {
    border-right: 0 none
}
.leoUi-first-th-ltr {
    border-right: 1px solid
}
.leoUi-first-th-rtl {
    border-left: 1px solid
}
.leoUi-jqgrid .leoUi-th-div-ie {
    white-space: nowrap;
    zoom: 1;
    height: 17px
}
.leoUi-jqgrid .leoUi-jqgrid-resize {
    height: 20px!important;
    position: relative;
    cursor: e-resize;
    display: inline;
    overflow: hidden
}
.leoUi-jqgrid .leoUi-grid-ico-sort {
    overflow: hidden;
    position: absolute;
    display: inline;
    cursor: pointer!important
}
.leoUi-jqgrid .leoUi-icon-asc {
    margin-top: -1px;
    height: 12px
}
.leoUi-jqgrid .leoUi-icon-desc {
    margin-top: 5px;
    height: 12px
}
.leoUi-jqgrid .leoUi-i-asc {
    margin-top: 0;
    height: 16px
}
.leoUi-jqgrid .leoUi-i-desc {
    margin-top: 0;
    margin-left: 13px;
    height: 16px
}
.leoUi-jqgrid .leoUi-jqgrid-sortable {
    cursor: pointer
}
.leoUi-jqgrid tr.leoUi-search-toolbar th {
    border-top-width: 1px!important;
    border-top-color: inherit!important;
    border-top-style: ridge!important
}
tr.leoUi-search-toolbar input {
    margin: 1px 0 0 0
}
tr.leoUi-search-toolbar select {
    margin: 1px 0 0 0
}
.leoUi-jqgrid .leoUi-jqgrid-bdiv {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: left
}
.leoUi-jqgrid .leoUi-jqgrid-btable {
    table-layout: fixed;
    margin: 0;
    outline-style: none
}
.leoUi-jqgrid tr.jqgrow {
    outline-style: none
}
.leoUi-jqgrid tr.jqgroup {
    outline-style: none
}
.leoUi-jqgrid tr.jqgrow td {
    font-weight: normal;
    overflow: hidden;
    white-space: pre;
    height: 36px;
    padding: 0 5px;
    border-bottom-width: 1px;
    border-bottom-color: #d6dee3;
    border-bottom-style: solid
}
.leoUi-jqgrid tr.fb td {
    font-weight: bold
}
.leoUi-jqgrid tr.jqgrow td .cbox {
    *margin: 0 0 0 -3px
}
.leoUi-jqgrid tr.jqgfirstrow td {
    padding: 0 2px 0 2px;
    border-right-width: 1px;
    border-right-style: solid
}
.leoUi-jqgrid tr.jqgroup td {
    font-weight: normal;
    overflow: hidden;
    white-space: pre;
    height: 22px;
    padding: 0 2px 0 2px;
    border-bottom-width: 1px;
    border-bottom-color: inherit;
    border-bottom-style: solid
}
.leoUi-jqgrid tr.jqfoot td {
    font-weight: bold;
    overflow: hidden;
    white-space: pre;
    height: 22px;
    padding: 0 2px 0 2px;
    border-bottom-width: 1px;
    border-bottom-color: inherit;
    border-bottom-style: solid
}
.leoUi-jqgrid tr.leoUi-row-ltr td {
    text-align: left;
    border-right-width: 1px;
    border-right-color: #d6dee3;
    border-right-style: solid
}
.leoUi-jqgrid tr.leoUi-row-rtl td {
    text-align: right;
    border-left-width: 1px;
    border-left-color: inherit;
    border-left-style: solid
}
.leoUi-jqgrid td.jqgrid-rownum {
    padding: 0 2px 0 2px;
    margin: 0;
    border: 0 none
}
.leoUi-jqgrid .leoUi-jqgrid-resize-mark {
    width: 2px;
    left: 0;
    background-color: #777;
    cursor: e-resize;
    cursor: col-resize;
    position: absolute;
    top: 0;
    height: 100px;
    overflow: hidden;
    display: none;
    border: 0 none;
    z-index: 99999
}
.leoUi-jqgrid .leoUi-jqgrid-sdiv {
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: -1px;
    overflow: hidden;
    border-left: 0 none;
    border-top: 1px solid #ddd;
    border-right: 0 none
}
.leoUi-jqgrid .leoUi-jqgrid-ftable {
    table-layout: fixed;
    margin-bottom: 0
}
.leoUi-jqgrid tr.footrow td {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    height: 36px;
    padding: 0 2px 0 2px
}
.leoUi-jqgrid tr.footrow-ltr td {
    text-align: left;
    border-right-width: 1px;
    border-right-color: inherit;
    border-right-style: solid
}
.leoUi-jqgrid tr.footrow-rtl td {
    text-align: right;
    border-left-width: 1px;
    border-left-color: inherit;
    border-left-style: solid
}
.leoUi-jqgrid .leoUi-jqgrid-pager {
    border-left: 0 none!important;
    border-right: 0 none!important;
    border-bottom: 0 none!important;
    margin: 0!important;
    padding: 0!important;
    position: relative;
    height: 30px;
    white-space: nowrap;
    overflow: hidden
}
.leoUi-jqgrid .leoUi-pager-control {
    position: relative
}
.leoUi-jqgrid .leoUi-pg-table {
    position: relative;
    width: auto;
    margin: 0
}
.leoUi-jqgrid .leoUi-pg-table td {
    font-weight: normal;
    vertical-align: middle;
    height: 30px
}
.leoUi-jqgrid .leoUi-pg-button {
    height: 19px!important
}
.leoUi-jqgrid .leoUi-pg-button span {
    display: block;
    margin: 1px 4px;
    float: left
}
.leoUi-jqgrid .leoUi-pg-button:hover {
    padding: 0
}
.leoUi-jqgrid .leoUi-pg-input {
    margin: 0;
    border: 1px solid #DDD;
    padding: 1px;
    line-height: 1
}
.leoUi-jqgrid .leoUi-pg-selbox {
    border: 1px solid #DDD;
    padding: 1px;
    display: block;
    margin: 0
}
.leoUi-jqgrid .leoUi-separator {
    height: 18px;
    margin: 1px;
    float: right
}
.leoUi-jqgrid .leoUi-paging-info {
    font-weight: normal;
    height: 23px;
    margin-top: 3px;
    margin-right: 6px
}
.leoUi-jqgrid .leoUi-jqgrid-pager .leoUi-pg-div {
    padding: 1px 0;
    float: left;
    position: relative
}
.leoUi-jqgrid .leoUi-jqgrid-pager .leoUi-pg-button {
    cursor: pointer
}
.leoUi-jqgrid .leoUi-jqgrid-pager .leoUi-pg-div span.leoUi-icon {
    float: left;
    margin: 0 2px
}
.leoUi-jqgrid td input, .leoUi-jqgrid td select .leoUi-jqgrid td textarea {
    margin: 0
}
.leoUi-jqgrid td textarea {
    width: auto;
    height: auto
}
.leoUi-jqgrid .leoUi-jqgrid-toppager {
    border-left: 0 none!important;
    border-right: 0 none!important;
    border-top: 0 none!important;
    margin: 0!important;
    padding: 0!important;
    position: relative;
    height: 25px!important;
    white-space: nowrap;
    overflow: hidden
}
.leoUi-jqgrid .leoUi-jqgrid-toppager .leoUi-pg-div {
    padding: 1px 0;
    float: left;
    position: relative
}
.leoUi-jqgrid .leoUi-jqgrid-toppager .leoUi-pg-button {
    cursor: pointer
}
.leoUi-jqgrid .leoUi-jqgrid-toppager .leoUi-pg-div span.leoUi-icon {
    float: left;
    margin: 0 2px
}
.leoUi-jqgrid .leoUi-jqgrid-btable .leoUi-sgcollapsed span {
    display: block
}
.leoUi-jqgrid .leoUi-subgrid {
    margin: 0;
    padding: 0;
    width: 100%
}
.leoUi-jqgrid .leoUi-subgrid table {
    table-layout: fixed
}
.leoUi-jqgrid .leoUi-subgrid tr.leoUi-subtblcell td {
    height: 18px;
    border-right-width: 1px;
    border-right-color: inherit;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: inherit;
    border-bottom-style: solid
}
.leoUi-jqgrid .leoUi-subgrid td.subgrid-data {
    border-top: 0 none!important
}
.leoUi-jqgrid .leoUi-subgrid td.subgrid-cell {
    border-width: 0 0 1px 0
}
.leoUi-jqgrid .leoUi-th-subgrid {
    height: 20px
}
.leoUi-jqgrid .loading {
    position: absolute;
    top: 45%;
    left: 45%;
    width: auto;
    z-index: 101;
    padding: 6px 20px 6px 30px;
    text-align: center;
    font-weight: bold;
    display: none;
    border: 2px solid #aaa;
    font-size: 14px;
    background: url(../images/indicator.gif) no-repeat scroll 8px center #fff
}
.leoUi-jqgrid .jqgrid-overlay {
    display: none;
    z-index: 100
}
* html .jqgrid-overlay {
    width: expression(this.parentNode.offsetWidth+'px');
    height: expression(this.parentNode.offsetHeight+'px')
}
* .jqgrid-overlay iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: expression(this.parentNode.offsetWidth+'px');
    height: expression(this.parentNode.offsetHeight+'px')
}
.leoUi-jqgrid .leoUi-userdata {
    border-left: 0 none;
    border-right: 0 none;
    height: 21px;
    overflow: hidden
}
.leoUi-jqgrid .selected-row, div.leoUi-jqgrid .selected-row td {
    font-style: normal;
    border-left: 0 none
}
.leoUi-jqgrid .tree-wrap {
    float: left;
    position: relative;
    height: 18px;
    white-space: nowrap;
    overflow: hidden
}
.leoUi-jqgrid .tree-minus {
    position: absolute;
    height: 18px;
    width: 18px;
    overflow: hidden
}
.leoUi-jqgrid .tree-plus {
    position: absolute;
    height: 18px;
    width: 18px;
    overflow: hidden
}
.leoUi-jqgrid .tree-leaf {
    position: absolute;
    height: 18px;
    width: 18px;
    overflow: hidden
}
.leoUi-jqgrid .treeclick {
    cursor: pointer
}
* iframe.jqm {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: expression(this.parentNode.offsetWidth+'px');
    height: expression(this.parentNode.offsetHeight+'px')
}
.leoUi-jqgrid-dnd tr td {
    border-right-width: 1px;
    border-right-color: inherit;
    border-right-style: solid;
    height: 20px
}
.leoUi-jqgrid .leoUi-jqgrid-title-rtl {
    float: right;
    margin: .1em 0 .2em
}
.leoUi-jqgrid .leoUi-jqgrid-hbox-rtl {
    float: right;
    padding-left: 20px
}
.leoUi-jqgrid .leoUi-jqgrid-resize-ltr {
    float: right;
    margin: -2px -2px -2px 0
}
.leoUi-jqgrid .leoUi-jqgrid-resize-rtl {
    float: left;
    margin: -2px 0 -1px -3px
}
.leoUi-jqgrid .leoUi-sort-rtl {
    left: 0
}
.leoUi-jqgrid .tree-wrap-ltr {
    float: left
}
.leoUi-jqgrid .tree-wrap-rtl {
    float: right
}
.leoUi-jqgrid .leoUi-ellipsis {
    text-overflow: ellipsis
}
.leoUi-search-menu {
    position: absolute;
    padding: 2px 5px
}
.leoUi-jqgrid .leoUi-search-table {
    padding: 0;
    border: 0 none;
    height: 20px;
    width: 100%
}
.leoUi-jqgrid .leoUi-search-table .leoUi-search-oper {
    width: 20px
}
.leoUi-jqgrid .leoUi-search-table .leoUi-search-input>input, .leoUi-jqgrid .leoUi-search-table .leoUi-search-input>select {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.leoUi-jqgrid-bdiv .leoUi-priority-secondary {
    background: #f9f9f9
}
.leoUi-jqgrid-bdiv .leoUi-state-hover {
    background: #e6f3f8;
    color: #000
}
.leoUi-jqgrid-bdiv .leoUi-state-highlight {
    background: #a7ddf1;
    color: #555;
    border: 0
}
.leoUi-jqgrid-pager .leoUi-state-hover {
    background: 0;
    border: 0
}
.leoUi-jqgrid-bdiv .leoUi-state-hover a {
    text-decoration: underline
}
.leoUi-jqgrid-bdiv .textbox {
    width: 100%;
    border: 1px solid #d6dee3;
    height: 22px;
    line-height: 22px;
    margin: -1px -5px;
    padding: 6px 4px
}
.leoUi-jqgrid-bdiv .textbox:focus {
    border: 1px solid #2ca1b3
}
.leoUi-jqgrid .leoUi-jqgrid-bdiv .line {
    overflow: hidden;
    zoom: 1;
    height: 1px;
    font-size: 0;
    line-height: 0;
    margin: 3px -2px;
    background: #e2e2e2;
    position: relative
}
.leoUi-icon {
    background-repeat: no-repeat;
    display: block;
    overflow: hidden;
    text-indent: -99999px;
}
.leoUi-icon {
    height: 16px;
    width: 16px;
}
.leoUi-icon, .leoUi-widget-content .leoUi-icon {
    background-image: url("../images/ui-icons.png");
}
.leoUi-state-default .leoUi-icon {
    background-image: url("../images/ui-icons.png");
}
.leoUi-state-hover .leoUi-icon, .leoUi-state-focus .leoUi-icon {
    background-image: url("../images/ui-icons.png");
}
.leoUi-icon-seek-next {
    background-position: 0 -16px;
}
.leoUi-icon-seek-prev {
    background-position: -16px -16px;
}
.leoUi-icon-seek-end {
    background-position: -32px -16px;
}
.leoUi-icon-seek-first {
    background-position: -48px -16px;
}
.leoUi-icon-trash {
    background-position: -64px -16px;
}
.leoUi-icon-plus {
    background-position: -80px -16px;
}
.leoUi-icon-search {
    background-position: -96px -16px;
}
.leoUi-icon-pencil {
    background-position: -112px -16px;
}
.leoUi-icon-arrowthickstop-1-s {
    background-position: -128px -16px;
}
.leoUi-icon-copy {
    background-position: -144px -16px;
}
.leoUi-icon-triangle-1-s {
    background-position: -160px -16px;
}
.leoUi-icon-folder-open {
    background-position: -175px -16px;
}
.leoUi-icon-pic {
    background-position: -190px -16px;
}
.leoUi-state-default .leoUi-icon-seek-next {
    background-position: 0 0;
}
.leoUi-state-default .leoUi-icon-seek-prev {
    background-position: -16px 0;
}
.leoUi-state-default .leoUi-icon-seek-end {
    background-position: -32px 0;
}
.leoUi-state-default .leoUi-icon-seek-first {
    background-position: -48px 0;
}
.leoUi-state-default .leoUi-icon-trash {
    background-position: -64px 0;
}
.leoUi-state-default .leoUi-icon-plus {
    background-position: -80px 0;
}
.leoUi-state-default .leoUi-icon-search {
    background-position: -96px 0;
}
.leoUi-state-default .leoUi-icon-pencil {
    background-position: -112px 0;
}
.leoUi-state-default .leoUi-icon-arrowthickstop-1-s {
    background-position: -128px 0;
}
.leoUi-state-default .leoUi-icon-copy {
    background-position: -144px 0;
}
.leoUi-state-default .leoUi-icon-triangle-1-s {
    background-position: -160px 0;
}
.leoUi-state-default .leoUi-icon-pic {
    background-position: -190px 0;
}
.leoUi-state-hover .leoUi-icon-seek-next {
    background-position: 0 -16px;
}
.leoUi-state-hover .leoUi-icon-seek-prev {
    background-position: -16px -16px;
}
.leoUi-state-hover .leoUi-icon-seek-end {
    background-position: -32px -16px;
}
.leoUi-state-hover .leoUi-icon-seek-first {
    background-position: -48px -16px;
}
.leoUi-state-hover .leoUi-icon-trash {
    background-position: -64px -16px;
}
.leoUi-state-hover .leoUi-icon-plus {
    background-position: -80px -16px;
}
.leoUi-state-hover .leoUi-icon-search {
    background-position: -96px -16px;
}
.leoUi-state-hover .leoUi-icon-pencil {
    background-position: -112px -16px;
}
.leoUi-state-hover .leoUi-icon-arrowthickstop-1-s {
    background-position: -128px -16px;
}
.leoUi-state-hover .leoUi-icon-copy {
    background-position: -144px -16px;
}
.leoUi-state-hover .leoUi-icon-triangle-1-s {
    background-position: -160px -16px;
}
.leoUi-state-hover .leoUi-icon-pic {
    background-position: -190px -16px;
}
.leoUi-sort-asc, .leoUi-sort-desc, .leoUi-sort-ndb { width: 16px; height: 16px; line-height: 1; vertical-align: middle; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; position: relative; cursor: pointer; }
.leoUi-sort-asc span,.leoUi-sort-desc span,.leoUi-sort-ndb span { position: absolute; top: 0px; left: 4px; }
.leoUi-sort-ndb .leoUi-sort-top, .leoUi-sort-desc .leoUi-sort-top { width: 0; height: 0; line-height: 0; font-size: 0; border-top: 0 none; border-right: 6px dashed transparent; border-bottom: 6px solid #cccccc; border-left: 6px dashed transparent; top: 0px; }
.leoUi-sort-asc .leoUi-sort-top { width: 0; height: 0; line-height: 0; font-size: 0; border-top: 0 none; border-right: 6px dashed transparent; border-bottom: 6px solid black; border-left: 6px dashed transparent; top: 0px; }
.leoUi-sort-ndb .leoUi-sort-bottom, .leoUi-sort-asc .leoUi-sort-bottom { width: 0; height: 0; line-height: 0; font-size: 0; border-top: 6px solid #cccccc; border-right: 6px dashed transparent; border-bottom: 0; border-left: 6px dashed transparent; top: 8px; }
.leoUi-sort-desc .leoUi-sort-bottom { width: 0; height: 0; line-height: 0; font-size: 0; border-top: 6px solid black; border-right: 6px dashed transparent; border-bottom: 0; border-left: 6px dashed transparent; top: 8px; }